/*main  h1{
    color: red;
}
h2{
    color: green;
}
p{
    color: yellow;
}
.titulo-aula{
    text-decoration: underline;
}
.texto-azul{
    color: blue;
}
.texto-vermelho{
    color: red;
}
#titulo-primeira-aula{
    text-decoration: none;
}
#titulo-segunda-aula{
    color: brown;
}
.texto-vermelho .comentario{
    color: blue;
}*/

/*html{
    color: red;
    background-color: black;
    background-image: url("./cachorro2.png");
    background-repeat: no-repeat;
    background-position: top;
}
main{
    background-color: #fff;
}
.titulo-aula{
    background-color: chartreuse;
}*/

/*@font-face {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    src: url();
}
main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: 800;
    
}*/

/*main p{
    text-indent: 2rem;
    text-align: right;
}
main{
    font-family: sans-serif;
    font-size: 1.5rem ;
}
h1, h2, h3{
    text-align: center;
}*/

/*h2#titulo-primeira-aula{
    text-decoration: underline;
    letter-spacing: 1rem;
}
p{
    text-transform: capitalize;
}*/

/*a:active{
    cursor: all-scroll;
    color: red;
}*/

/*a:visited{
    color: green;
}*/

h2:hoover{
    cursor: pointer;
}